@namespace Fx.ControlKit

<div class="fx-context-menu-section @CssClass" role="presentation">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</div>

@code {
    [Parameter] public string Text { get; set; } = string.Empty;
    [Parameter] public string? CssClass { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
