@namespace Fx.ControlKit.Mdi
@using Microsoft.AspNetCore.Components

<div class="fx-mdi-component">
    <DynamicComponent @key="Window.Id"
                      @ref="_component"
                      Type="Window.PageType"
                      Parameters="Window.Parameters" />
</div>

@code {
    [Parameter, EditorRequired] public MdiWindow Window { get; set; } = default!;

    private DynamicComponent? _component;

    protected override void OnAfterRender(bool firstRender)
    {
        Window.ComponentInstance = _component?.Instance;
    }
}
